.login{
  background-color: #0F1035;
  height: 100%;
}

.login-card-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #0F1035;
  }
  
  .login-card {
    display: flex;
    width: 900px;
    height:550px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color: #0F1035;
    border-radius: 12px; 
    overflow: hidden;
  }
  
  .login-left {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f7f7; 
  }
  
  .login-left h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
  }
  
  .login-left .social-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .login-left .social-container a {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ddd;
    color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    transition: background-color 0.3s ease; 
  }
  
  .login-left .social-container a:hover {
    background-color: #3498db; 
    color: white;
  }
  
  .login-left input {
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .login-left input:focus {
    border-color: #3498db; 
    outline: none;
  }
  
  .login-left a {
    color: #3498db; 
    text-decoration: none;
    margin-bottom: 20px;
    align-self: flex-end;
    font-size: 0.9em;
  }
  
  .login-left button {
    padding: 15px;
    width: 100%;
    background-color: #3498db; 
    border: none;
    color: white;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-left button:hover {
    background-color: #2980b9; 
  }
  
  .login-right {
    flex: 1;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-left: 5px solid #fff;
  }