.principal {
    padding: 20px;
    background-color: #0F1035;
    width: 100%;
  }
  
  .principal-header {
    text-align: center;
    color: #7FC7D9;
    margin-bottom: 20px;
  }
  
  .principal-cards {
    display: flex;
    justify-content: space-around;
  }
  
  .card {
    background-color: #155dd8;
    border-radius: 8px;
    padding: 20px;
    margin: 0 10px 0 10px ;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    color: #DCF2F1;
  }
  
