
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin-top: 70px;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #4b2c92 0%, #9FACE6 100%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0F1035;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 5px 0;
    padding: 15px;
    background-color: #4b49ccc0;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.button-wrapper:hover {
    background-color: #4341afc0;;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.button-wrapper:active {
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button-description {
    font-size: 14px;
    margin-top: 5px;
}

.button-price {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    text-align: right;
}