@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0;
  background-color: #0F1035;
  position: fixed;
  width: 100%;
  height: 10vh;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navbar-nav {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

.nav-item {
  display: flex;
}

.nav-link {
  padding: 10px 15px;
  margin: 0 0 2.5vh 0vh;
  text-decoration: none;
  color: #f9e4e4;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  align-self: center;
}

.nav-link:hover {
  color: #007bff;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 16, 53, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-family: "Work Sans", sans-serif;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f44336;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 8px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-family: "New Amsterdam", sans-serif;
}

form input[type="text"], 
form textarea, 
form input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "Work Sans", sans-serif;
}

form textarea {
  height: 80px;
}

button[type="submit"] {
  background: #0F1035;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Work Sans", sans-serif;
  font-weight: bolder;
}

button[type="submit"]:hover {
  background: #0056b3;
}