y {
    font-family: 'Arial', sans-serif;
  }
  
  /* Navbar styles */
  .navbar {
    background: linear-gradient(90deg, #3f51b5, #5a55ae);
    align-items: flex-start;
  }

  .perfil{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    margin-right: 25px;
    font-size: 20px;
    color: #ddd;
  }
  .logo{
    margin-top: 140px;
    margin-left: 190px;
    font-size: 18px;
    color: #f9f9f9;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    

  }
  
  .search-input {
    padding: 10px 15px;
    border-radius: 30px 0 0 30px;
    border: 2px solid #ddd;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
    font-size: 16px;
    line-height: 1;
    height: 30px;
    margin-bottom: 30px;
  }
  
  .search-input:focus {
    border-color: #3f51b5;
    background-color: #fff;
  }
  
  .search-button {
    padding: 10px 15px;
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: #3f51b5;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 18px;
    line-height: 1;
    height: 30px;
  }
  
  .search-button:hover {
    background-color: #5a55ae;
  }
  
  /* Menu toggle button */
  .menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
    .perfil{
      margin-top: 16px;
      position: fixed;
      margin-left: 480px;
    }
    .logo{
      visibility: hidden;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 15px;
      max-height: 0;
      overflow: hidden;
      width: 100%;
    }
  
    .nav-links.active {
      max-height: 300px; /* Ajustar para que coincida con la cantidad de elementos */
    }
  
    .menu-toggle {
      display: block;
      margin-top: 10px;
      color: #fff;
    }
  
    .search-container {
      width: 100%;
      display: flex;
      margin-top: 15px;
    }
  
    .search-input {
      width: 100%;
      border-radius: 30px;
    }
  
    .search-button {
      border-radius: 0;
      margin-left: 10px;
    }
  }
  
