@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.user-type-container {
    height: 100vh;
    width: 100%;
    background-color: #0F1035;
    color: white;
  }
  
  .user-type-header {
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-size: 8vh;
    font-weight: 500;
    background-color: #0F1035;
    padding: 15vh 0 5vh 0;
  }
  
  .user-type-cards {
    display: flex;
    justify-content: space-around;
  }

.user-type-card{
  background-color: #5a55ae;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(23, 21, 59, 0.5);
  font-family: "New Amsterdam", sans-serif;
  font-size: 4vh;
  text-align: center;
  /*Estos siempre se me pierden, tonces los pongo abajo xd*/
  height: 50vh;
  margin: 10px 0 10px 0;
  padding: 20px;
  width: 50vh;  
  /*Cosas para que pueda voltearse*/
  position: relative;
  transform-style: preserve-3d; /* Habilita transformaciones 3D */
  transition: transform 0.6s; 
}

.user-type-card:hover{
  cursor: pointer;
  transform: rotateY(180deg); /* Voltea la tarjeta */
}


.user-type-card-front, .user-type-card-back{
  position: absolute;
  backface-visibility: hidden; 
}


.user-type-card-front{
  background-color: #5a55ae;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(23, 21, 59, 0.5);
  /*Estos siempre se me pierden, tonces los pongo abajo xd*/
  height: 50vh;
  margin: 10px 0 10px 0;
  padding: 20px;
  width: 50vh;  
  /*Cosas para que pueda voltearse*/ 
  align-items: center;
  justify-content: center;
}

.user-type-card-back{
  background-color: #5a55ae;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(23, 21, 59, 0.5);
  /*Estos siempre se me pierden, tonces los pongo abajo xd*/
  height: 50vh;
  margin: 10px 0 10px 0;
  padding: 20px;
  width: 50vh;  
  /*Cosas para que pueda voltearse*/  
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg); /* Voltea el reverso inicialmente */
}

  .user-type-img{
    margin: 2vh 0 0 0;
    height: 30vh;
    width: 30vh;
  }